{% extends 'padre.html' %}


{% block contenidoQueCambia %}
{% load static %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Acerca de mí
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src=" {% static 'images/sandia.png' %} " alt="">
        </div>
        <div class="detail-box">
          <p>Bienvenidos a mi proyecto, soy <strong>Teófilo Samuel Güibín Tuesta</strong>.
          Nacido en Perú, ingeniero de Telecomunicaciones y redes de profesión en la Universidad Peruana de Ciencias Aplicadas (UPC) y Master en
          Telecomunicaciones en la Pontificia Universidad Católica del Perú (PUCP). Actualmente trabajando en el rubro de comunicaciones móviles en la marca de celulares vivo (auspiciadores del mundial y eurocopa). <br>
          </p>
              <p>
                  <strong>Mis habilidades y conocimientos son:</strong>
                  <ul>
                      <li>Comunicaciones Móviles 2G/3G/4G/5G.</li>
                      <li>Cloud Computing Azure y Amazon AWS</li>
                      <li>Ciberseguridad defensiva: Firewall Fortinet, WAF, Gestor de Antivirus</li>
                      <li>Redes de comunicaciones - CCNA, CCNP, Balanceadores F5, HCIA</li>
                      <li>Programación básica en Python - Coderhouse</li>
                      <li>Base de datos con MySQL - Coderhouse</li>
                      <li>Excel - Coderhouse</li>
                  </ul>
                </p>
            <p> Actualmente muy interesado en forzar conocimiento en <strong>Data Science</strong> y <strong>Data Engineering</strong></p>
            <p> Constantemente actulizándome debido a una frase que me gustó de un profesor: <strong>Todo ingenierio de Telecomunicaciones debe tener buena base de conocimiento en la 
              física, programación, redes de comunicaciones y redes móviles. Y las nuevas tecnologías te serán fáciles de dominar
            </strong></p>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->


{% endblock contenidoQueCambia %}
  