{% extends 'padre.html' %}


{% block contenidoQueCambia %}
{% load static %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Sobre nosotros
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src=" {% static 'images/canary.jpg' %} " alt="">
        </div>
        <div class="detail-box">
          <p>Bienvenidos a <strong>Strong Canary Gym</strong>. Somos un gimnasio dedicado a la fuerza, 
            la salud y la comunidad. Aquí está lo que nos hace especiales:</p>
              <p>
                  <strong>Climbing y Fitness:</strong>
                  <ul>
                      <li>Ofrecemos una amplia variedad de desafíos de escalada, desde principiantes hasta avanzados.</li>
                      <li>Nuestros circuitos de escalada desafían diversas habilidades y estilos de movimiento.</li>
                      <li>Contamos con herramientas de entrenamiento específicas, como el spray wall, moonboard y hangboard modular.</li>
                      <li>También tenemos un gimnasio de fuerza y acondicionamiento completamente equipado.</li>
                  </ul>
                </p>
              <p>
                  <strong>Comunidad:</strong>
                  <ul>
                      <li>Desde tu primera visita, te sentirás parte de nuestra comunidad acogedora.</li>
                      <li>Organizamos competencias sociales, noches de cine y eventos regulares.</li>
                      <li>Celebramos y apoyamos a nuestra comunidad local y más allá.</li>
                  </ul>
                </p>
              <p>
                  <strong>Apoyo Personalizado:</strong>
                  <ul>
                      <li>Ofrecemos clases grupales, entrenamiento privado y programas para jóvenes.</li>
                      <li>Nuestros entrenadores expertos están aquí para ayudarte a alcanzar tus objetivos.</li>
                  </ul>
                </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->


{% endblock contenidoQueCambia %}
  