{% extends 'padre.html' %}


{% block contenidoQueCambia %}

{% load static %}

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>
            Contáctate con nosotros
          </span>
        </h2>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6 ">
            <form method="post" action="{% url 'ContactoRegistrado' %}">{% csrf_token %}
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Nombre" name="NombreUsuario"/>
                  </div>
                  <div>
                    <input type="email" placeholder="Correo"  name="CorreoUsuario">
                  </div>
                  <div>
                    <input type="text" placeholder="Teléfono" name="TelefonoUsuario" />
                  </div>
                  <div class="mt-5">
                    <input type="text" placeholder="Mensaje" name="ComentarioUsuarios"/>
                  </div>
                  <div class="mt-5">
                    <button type="submit">
                      Enviar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="box">
                <img src= " {% static 'images/callcenter.jpg' %} " alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


{% endblock contenidoQueCambia %}
  