{% extends 'padre.html' %}


{% block contenidoQueCambia %}

{% load static %}

    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="container">
          <div class="custom_nav2">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <li class="nav-item ">
                          <a class="nav-link" href=" {% url 'inicio' %} ">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'sobre' %}">Sobre nosotros </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'sedes' %}">Sedes </a>
                        </li>
                        <li class="nav-item active"> <!-- activo -->
                          <a class="nav-link" href=" {% url 'contacto' %}">Contáctanos</a>
                        </li>
                      </ul>
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </section>
      <!-- end slider section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>
            Contáctate con nosotros
          </span>
        </h2>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6 ">
            <form method="post" action="{% url 'ContactoRegistrado' %}">{% csrf_token %}
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Nombre" name="NombreUsuario"/>
                  </div>
                  <div>
                    <input type="email" placeholder="Correo"  name="CorreoUsuario">
                  </div>
                  <div>
                    <input type="text" placeholder="Teléfono" name="TelefonoUsuario" />
                  </div>
                  <div class="mt-5">
                    <input type="text" placeholder="Mensaje" name="ComentarioUsuarios"/>
                  </div>
                  <div class="mt-5">
                    <button type="submit">
                      Enviar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="box">
                <img src= " {% static 'images/callcenter.jpg' %} " alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


{% endblock contenidoQueCambia %}
  