{% extends 'padre.html' %}


{% block contenidoQueCambia %}

{% load static %}

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>
            Tu perfil
          </span>
        </h2>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6 ">
            <p> Al cambiar la contraseña tendrá que iniciar sesión nuevamente</p>
            <form action="{% url 'editarcontrasena' %}" method="post">{% csrf_token %}

              {{miFormulario.as_p}}
              {{misedeFormulario.as_p}}
            
              <button type="submit"> Actualizar </button>
            
            </form>      
          </div>
          <div class="col-md-6">
            <div class="box">
                <img src= " {% static 'images/canary.jpg' %} " alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


{% endblock contenidoQueCambia %}
  