{% extends 'padre.html' %}


{% block contenidoQueCambia %}
{% load static %}
  
    <!-- about section -->
  
    <section class="about_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Curso de python - Coderhouse
          </h2>
        </div>
        <div class="box">
          <div class="detail-box">
            <h1>
              Teófilo Samuel Güibín Tuesta
            </h1>
            <p>
              Comisión 54145
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

{% endblock contenidoQueCambia %}
