
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="container">
          <div class="custom_nav2">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <li class="nav-item ">
                          <a class="nav-link" href=" {% url 'inicio' %} ">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'sobre' %}">Acerca de mí</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'sedes' %}">Sedes </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'contacto' %}">Contáctanos</a>
                        </li>
                        
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                          <form method="post" action="{% url 'Logout' %}"> {% csrf_token %}
                            <button class="nav-link" type="submit">Cerrar Sesión</button>
                        </li>
                        {% else %}

                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'Login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href=" {% url 'UsuarioRegistrado' %}">Registrarse</a>
                        </li>

                        {% endif %}
                          
                      </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </section>
      <!-- end slider section -->