{% extends 'padre.html' %}


{% block contenidoQueCambia %}
{% load static %}


  <!-- sedes section -->

  <style>
    .fixed-size {
        width: 321px;
        height: 321px;
        object-fit: cover;
    }
  </style>

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Nuestras sedes
        </h2>
      </div>
      <p>Buscar sede:</p>
      <form action=" {% url 'buscar_sede' %} " method="get">
        <div class="contact_form-container">
          <div>
            <div>
              <input type="text" placeholder="Sede: Prime/Classic/Plus" name = "tipoDeSede" />
            </div>
            <div class="mt-5">
              <button type="submit">
                Buscar
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="service_container">

        {% for sede in ListaSede %}
        <div class="box">
          <img src= " {{sede.imagen.url}} " alt="">
          <h6 class="visible_heading">
            {{sede.nombre}}
          </h6>
          <div class="link_box">
            <h6>
              {{sede.nombre}}
            </h6>
            <h6>
              {{sede.direccion}}
            </h6>
            <h6>
              {{sede.telefono}}
            </h6>
            <h6>
              {{sede.tipo_gimnasio}}
            </h6>
            
            {% if user.is_staff %}
            <h6>
              <a href="{% url 'DetalleSede' sede.id %}">Editar</a>
            </h6>
            {% endif %}
            
          </div>

        </div>
        {% endfor %}
          

      </div>
    </div>
  </section>

  <!-- end sedes section -->

{% endblock contenidoQueCambia %}
  